img {
    padding:20px;
}
img:hover {
    background-blend-mode: lighten;
	background-color: rgba(186,244,250,0.82);
}
body {
    padding:10px;
}

.content {
  
  width: 33.33%;
  padding: 9.42px;
  
}

.BLR_Rajdhani {

    border: 1px solid grey;

    
}


.ERN_BLR_EXP {
        border: 1px solid grey;
}


.GVRTCR {
    border: 1px solid grey;
}
.HSEXP {
    border: 1px solid grey;
}    
