.form {
  
  border:5px solid black;
  width:10cm;
  padding:2cm;
}

input, label {
  margin-bottom:10px;
}

.submit {
  float:left;
  margin-left:2cm;
}

.a {
  width:100%;
}

body {
  margin:0;
  padding:0;
  background-image:linear-gradient(white, lightblue, #aaccff);
  
}
