.form {
  background-color:#fff;
  border:5px solid black;
  width:10cm;
  padding:2cm;
  resize: both;
  overflow: auto;
}
/* https://th.bing.com/th/id/R.3bbebdb38aa03285ddbe67732915f8b5?rik=T4SFQQSmXXxEZQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f65thfiw.png&ehk=up0SyQ4BPH6msVBIUjCFPyQ8stUbael%2fN0AgCAL92lM%3d&risl=&pid=ImgRaw&r=0 */

input, label {
  margin-bottom:10px;
}

.submit {
  float:left;
  margin-left:2cm;
}



body {
  margin:0;
  padding:0;
  background-image:linear-gradient(white, lightblue, #aaccff);
  
}

h1 {
  margin-top:2cm;
}
