img {
    padding:20px;
}

.content {
         float: left;
  width: 33.33%;
  padding: 5px;
  
}

.BLR_Rajdhani {

    border: 1px solid grey;
    margin:200px;
}
.ERN_BLR_EXP {
        border: 1px solid grey;
}
