img {
    padding:20px;
}

.content {
  
  width: 33.33%;
  padding: 9.42px;
  
}

.BLR_Rajdhani {

    border: 1px solid grey;

    
}


.ERN_BLR_EXP {
        border: 1px solid grey;
}
body {
    padding:10px;
}

.GVRTCR {
    border: 1px solid grey;
    )
