body {
   font-size:25px;
}



div img {
   height:5cm;
   width:8cm;
}


div {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;

}

div a {
   color:#000;
}

div a:hover {
   color:#555;
}


.row {
   width:100%;
}
