body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
body {
   font-size:25px;
   background-image:linear-gradient(lightblue, white);
   background-size:cover;
   background-position:center;
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   
}



div img {
   height:5cm;
   width:8cm;
   outline:black solid 1px;
}


a {
   padding:20px;
   border:3px solid black;
   margin:25px;
   float:left;
   width:33%;
   background-image:url(https://advaithva.github.io/My-train-pics/favicon-32x32.png);
   background-blend-mode:lighten;
   background-color:rgba(255, 255, 255, 0.6);
   background-position:center;

}

div {
   color:#000;
}

a:hover {
   background-color:rgba(100, 100, 100, 0.62);
}


.row {
   display:flex;
}
