img {
    padding:28px;
       display:flex;
    float:left;
}   

#a {
	padding:10px;
	 border:1px solid black;
	}

#b{
	padding:10px;
	 border:1px solid black;
	}
#c {
	padding:10px;
	 border:1px solid black;
	}
#d {
	padding:10px;
	 border:1px solid black;
	}
#e {
	padding:10px;
	 border:1px solid black;
	}
#f {
	padding:10px;
	 border:1px solid black;
	}
#g {
	padding:10px;
	 border:1px solid black;
	}
#h {
	padding:10px;
	 border:1px solid black;
	}


body {
    padding:10px;

}

.content {
  

  margin: 56px;
}  
.head {
    background-image:url(https://th.bing.com/th/id/R.98636c6ee64925a19858f8a491d300d2?rik=j9IBIqfyrjoeBQ&riu=http%3a%2f%2fgifimage.net%2fwp-content%2fuploads%2f2017%2f09%2fanimated-welcome-gif-8.gif&ehk=LWofONxM5l0oRfjbJ7OXPgoRoV2WDe6hX88OWoJEgls%3d&risl=&pid=ImgRaw&r=0);
   background-size:cover;
	background-position:center center;
}
li:hover {

	color: #00fff00;
	opacity:0.5;
}
.Header-list {
	
	padding-top:5px ;
	font-size:24px;
	margin:0px;
}

li {
	float:left;
	list-style:none;
	width:390px;
	text-align:center;
}
